<!DOCTYPE html>
<html ng-app="ShoppingListCheckOff" lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
        <title>Where Bees? 3: Bees Unlimited</title>
    </head>
    <body>
        <div class="wrapper">
            <h1>Bees</h1>
            <div id="to-buy" ng-controller="ToBuyController as list">
                <h3>To Buy</h3>
                <ul>
                    <li ng-if="list.toBuy.length === 0">Everything is Bought!</li>
                    <li ng-repeat="item in list.toBuy">
                        {{item.quantity}} {{item.name}}&nbsp;&nbsp;
                        <button ng-click="list.buyItem(item);">Buy</button>
                    </li>
                </ul>
            </div>
            <div id="bought" ng-controller="AlreadyBoughtController as list">
                <h3>Already Bought</h3>
                <ul>
                    <li ng-if="list.bought.length === 0">Nothing Bought Yet</li>
                    <li ng-repeat="item in list.bought">
                        {{item.quantity}} {{item.name}}
                    </li>
                </ul>
            </div>
        </div>        
    </body>
</html>