body {
    text-align: center;
}

ul {
    width: 60%;
    margin: 0 auto;
    list-style-type: none;
    text-align: left;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

#searchbar {
    margin-top: 40px;
    margin-bottom: 40px;
}