* {
    box-sizing: border-box;
}

#categories {
    display: none;
}
.head2 {
    border: 1px solid black;
    margin: 0px;
    z-index: 1;
    font-size: 125%;
    display: none;
    text-align: center;
    padding: 5px;
}
.content {
    position: relative;
    min-height: 200px;
    padding: 40px 10px 10px 10px;
    margin: 0px;
}

@media (max-width: 767px){

    #categories {
        display: block;
        font-family:'Courier New', Courier, monospace;
        font-size: 75%;
        text-align: left;
        margin-left: 5px;
    }
    .head2 {
        display: block;
    }
    .content {
        padding: 10px;
    }
    #menu {
        display: none;
    }
    .head {
        display: none;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-12 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px){

    .col-md-4 {
        width: 33.33%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 992px){

    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

.box {
    position: relative;
    background: yellow;
    border: 1px black solid;
    font-family: Wingdings, sans-serif;
    height: 200px;
    min-height: 200px;
    overflow: hidden;
    margin: 5px;
}

.headtop {
    text-align: center;
    font-size: 175%;
    font-family: Wingdings, sans-serif;
}

div.row {
    float: left;
    position: relative;
    padding: 0px 0px 0px 0px;
}

.box:hover {
    resize: vertical;
    overflow: auto;
}

.head {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px 20px 5px 20px;
    border: 1px solid black;
    margin: 0px;
    z-index: 1;
    font-size: 125%;
}

.head1color {
    background: rgb(168, 150, 232);
}

.head2color {
    background:rgb(232, 150, 150)
}

.head3color {
    background:rgb(150, 232, 192)
}