* {
    box-sizing: border-box;
    font-family: Wingdings, sans-serif;
}

@media (max-width: 767px){

    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-12 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px){

    .col-md-4 {
        width: 33.33%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 992px){

    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

#headtop {
    text-align: center;
    font-size: 175%;
}

.sect {
    position: relative;
    padding: 35px 10px 10px 10px;
    margin: 5px;
    background: yellow;
    height: 200px;
    min-height: 200px;
    overflow: auto;
    border: 1px black solid;
}

.sect:hover {
    resize: vertical;
}

div.row {
    float: left;
    position: relative;
    padding: 0px 0px 0px 0px;
}

.head {
    position: absolute;
    right: 5px;
    top: 5px;
    border: 1px solid black;
    margin: 0px;
    z-index: 1;
    font-size: 125%;
}

#head1 {
    background: rgb(168, 150, 232);
}

#head2 {
    background:rgb(232, 150, 150)
}

#head3 {
    background:rgb(150, 232, 192)
}