body {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

#to-buy {
    text-align: right;
}

#bought {
    text-align: left;
    padding-left: 30px;
}

input {
    width: 20px;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
}

#to-buy, #bought {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}
