body {
    text-align: center;
}

button {
    border-radius: 3.5px;
}

/* Hover state */
button:hover {
    background-color: #ffcc00;
}

button:hover #buttonText {
    color: #000;
    font-weight: bold;
}

.error {
    color: red;
}

.succ {
    color: green;
}